extends layout

block content
  h1 Users
  h3#pesan
  input#btn(type="button", value="klik")
  p Welcome to #{title}

  script(src='/socket.io/socket.io.js')
  script.
   var sc = io('//localhost:3000/');
   sc.on('ddtoclient', (data) => {
    document.getElementById('pesan').innerHTML = data.msg;
    console.log("get: ", data.msg);
   });

   var btn = document.getElementById('btn');
   btn.addEventListener('click', ()=>{
    sc.emit('ddtoserver', {msg: "data dari client ddtoserver"});
   });
