extends layout

block content

  // start container
  .container
   .section
    p.caption A Simple Control LED with Raspberry PI 3 Model B + NodeJS.
    .divider

    // Input Switches
    #input-switches.section
     h4.header On / Off LED Raspberry
     .row
      .col.s12.m4.l3
       p
      .col.s12.m8.l9
       // Switch
       .switch
        | Enabled :
        label
         | Off
         input#kontrol(type='checkbox')
         span.lever
         |  On
       br
       // Disabled Switch
       .switch
        | Diabled :
        label
         | Off
         input(disabled='', type='checkbox')
         span.lever
         |  On
    .divider

    script(src="/socket.io/socket.io.js")
    script.
     var sc = io('//localhost:8080');
     var btn = document.getElementById('kontrol');
     btn.addEventListener('change', () => {
      if(btn.checked)
       sc.emit('statuslampu', {msg: 1});
      else
       sc.emit('statuslampu', {msg: 0});
     });
