doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    |   
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    |   
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    |   
    meta(name="msapplication-tap-highlight", content="no")
    |   
    meta(name="description", content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ")
    |   
    meta(name="keywords", content="materialize, admin template, dashboard template, flat admin template, responsive admin template,")
    |   
    title Register Page | Track Your Car
    // Favicons
    link(rel="icon", href="images/favicon/favicon-32x32.png", sizes="32x32")
    // Favicons
    link(rel="apple-touch-icon-precomposed", href="images/favicon/apple-touch-icon-152x152.png")
    // For iPhone
    meta(name="msapplication-TileColor", content="#00bcd4")
    |   
    meta(name="msapplication-TileImage", content="images/favicon/mstile-144x144.png")
    // For Windows Phone
    // CORE CSS
    link(href="css/materialize.css", type="text/css", rel="stylesheet", media="screen,projection")
    |   
    link(href="css/style.css", type="text/css", rel="stylesheet", media="screen,projection")
    |   
    link(href="css/page-center.css", type="text/css", rel="stylesheet", media="screen,projection")
    // INCLUDED PLUGIN CSS ON THIS PAGE
    link(href="css/prism.css", type="text/css", rel="stylesheet", media="screen,projection")
    |   
    link(href="js/plugins/perfect-scrollbar/perfect-scrollbar.css", type="text/css", rel="stylesheet", media="screen,projection")
  body.cyan
    // Start Page Loading
    #loader-wrapper
      #loader
      |         
      |       
      .loader-section.section-left
      |       
      .loader-section.section-right
    // End Page Loading
    #login-page.row
      .col.s12.z-depth-4.card-panel
        form.login-form
          .row
            .input-field.col.s12.center
              h4 Register
              |             
              p.center Join to our community now !
          |         
          .row.margin
            .input-field.col.s12
              i.mdi-social-person-outline.prefix
              |             
              input#username(type="text")
              |             
              label.center-align(for="username") Username
          |         
          .row.margin
            .input-field.col.s12
              i.mdi-communication-email.prefix
              |             
              input#email(type="email")
              |             
              label.center-align(for="email") Email
          |         
          .row.margin
            .input-field.col.s12
              i.mdi-action-lock-outline.prefix
              |             
              input#password(type="password")
              |             
              label(for="password") Password
          |         
          .row.margin
            .input-field.col.s12
              i.mdi-action-lock-outline.prefix
              |             
              input#password-again(type="password")
              |             
              label(for="password-again") Password again
          |         
          .row
            .input-field.col.s12
              a.btn.waves-effect.waves-light.col.s12(href="/page-login") Register Now
            |           
            .input-field.col.s12
              p.margin.center.medium-small.sign-up
                | Already have an account? 
                a(href="/page-login") Login
    //
      ================================================
      Scripts
      ================================================
    // jQuery Library
    script(type="text/javascript", src="js/jquery-1.11.2.min.js")
    // materialize js
    script(type="text/javascript", src="js/materialize.js")
    // prism
    script(type="text/javascript", src="js/prism.js")
    // scrollbar
    script(type="text/javascript", src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js")
    // plugins.js - Some Specific JS codes for Plugin Settings
    script(type="text/javascript", src="js/plugins.js")